html {
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto !important;   
}

body {
    margin: 0px 80px;
}

.center {
    text-align: center;
}

#game-space {
    margin: 20px 0px;
    padding: 10px;
    border: 2px solid black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightslategray;
    padding: 5px;
    justify-content: center;
}

button {
    margin: 0px 10px;
    }

img {
    width: 12.5%;
    padding: 0px 2.5px;
}